<!DOCTYPE html>
<html lang="en">
    <%-include("./forAll/head.ejs")%>
<body  class="dark"  id="body1">
   
    <div class="my-ballance">
        <div class="my-address"><span id="myAdrs">0x00b4mm4knfn4n4kr4kfkn4g4kn444r4rk4</span> <i class="fas fa-copy"></i></div>
        <div class="monny"><span id="balance">12000</span><span> tl</span></div>
        <div class="get-mony">
           <input type="text" placeholder="Address">
           <input type="number" placeholder="miktar">
           <button class="btn">Gönder</button>
        </div>
    </div>

</body>
</html>
