<!DOCTYPE html>
<html lang="en">
    <%-include("./forAll/head.ejs")%>
<body class="body dark" id="body">
    <!-- web header -->
    <div class="header" id="header">
        <!-- logo -->
        
        <a href="/"><img src="image/logo.jpg" class="header-logo"></a>
        <!-- haeder text -->
        <h1 class="header-text" id="header-text">DİBİSTANEK</h1>
        <!-- menu icone -->
        <button class="menu-icon" id="menuIcon">
            <i class="material-icons menu-opened">reorder</i>
            <i class="material-icons menu-closed">clear</i>
        </button>

        
    </div>


    <!-- menu -->


    <div class="menu" id="menu">
        <div class="pages">
             <div><i class="fas fa-times menu-icon"></i></div>
             <a href="/yz"><i class="material-icons">home</i><span>Home</span></a>
             <a href="profil"><i class="material-icons">person</i> <snap>Profil</snap></a>
             <a href="/ballance"><i class="material-icons">wallet</i> <snap>Bakiye</snap></a>
             <a href="#"><i class="material-icons">book</i> <snap>Dersler</snap></a>


             <div class="menu-btn">
                <!-- <div class="button">
                    Giriş<span class="button-border"></span>
                  </div> -->
                 
                 <a href="/login"><button class="button1 girish">Giriş</button></a>
                 <a href="/login"><button class="button1">Kayıt</button></a>
             </div>

             <div class="decore"></div>
        </div>

        

         <div class="social">
             <a href=""><i class="material-icons">facebook</i></a>
             <a href=""><i class="material-icons">phone</i></a>
             <a href=""><i class="material-icons">gmail</i></a>
         </div>
     </div>
    
    <!-- web body -->
    <img class="home-image" src="image/img1.png" alt="">
    <!-- cards -->
    <div class="card-area">
        <div class="card">
            <div class="card-content">
              <p class="card-title">DERS YAYINLA
              </p><p class="card-para">Serbestçe Hiçbir Sınır Omadan Dersini Oluştur Yayınla.</p>
            </div>
        </div>
    
        <div class="card card2child">
            <div class="card-content">
                <p class="card-title">Sınıfını Aç
                </p><p class="card-para">KENDİ ÖZEL SINIFINI AÇ ÖĞRENCİLERİNLE İLGİLEN.</p>
              </div>
              <button class="button1">Hemen Başla</button>
        </div>
    
        <div class="card">
            <div class="card-content">
                <p class="card-title">içeriğini ayarla
                </p><p class="card-para">DERSİNE ÖZEL FOTOĞRAF VE LİNK EKLE GÖRÜNÜMÜNÜ AYARLA.</p>
              </div>
        </div>
    </div>
    
    <!-- class -->
    <div class="class-area">
        <div class="class-card">
            <div class="go-class">
                <a href=""><img src="image/logo.jpg" alt="" class="class-image"></a>
                <span class="material-symbols-outlined" id="mezinKe">zoom_out_map</span>
            </div>
            <div class="about-class">
                <a href=""><h1>class 1</h1></a>
                <span>class açıklaması yazılacak buraya uzunluk fark etmez.</span>
            </div>
            <div class="class-btns">
                <div>
                    <span class="material-symbols-outlined">visibility</span>
                    <i>1</i>
                </div>

                <div>
                    <span class="material-symbols-outlined" id="begemKe">favorite </span>

                    <i>1</i>
                </div>

                <div>
                    <span class="material-symbols-outlined" id="yorumKe">sms</span>

                    <i>1</i>
                </div>
            </div>
        </div>

        <div class="class-card">
            <div class="go-class">
                <a href=""><img src="image/logo.jpg" alt="" class="class-image"></a>
                <span class="material-symbols-outlined" id="mezinKe">zoom_out_map</span>
            </div>
            <div class="about-class">
                <a href=""><h1>class 1</h1></a>
                <span>class açıklaması yazılacak buraya uzunluk fark etmez.</span>
            </div>
            <div class="class-btns">
                <div>
                    <span class="material-symbols-outlined">visibility</span>
                    <i>1</i>
                </div>

                <div>
                    <span class="material-symbols-outlined" id="begemKe">favorite </span>

                    <i>1</i>
                </div>

                <div>
                    <span class="material-symbols-outlined" id="yorumKe">sms</span>

                    <i>1</i>
                </div>
            </div>
        </div>

        <div class="class-card">
            <div class="go-class">
                <a href=""><img src="image/logo.jpg" alt="" class="class-image"></a>
                <span class="material-symbols-outlined" id="mezinKe">zoom_out_map</span>
            </div>
            <div class="about-class">
                <a href=""><h1>class 1</h1></a>
                <span>class açıklaması yazılacak buraya uzunluk fark etmez.</span>
            </div>
            <div class="class-btns">
                <div>
                    <span class="material-symbols-outlined">visibility</span>
                    <i>1</i>
                </div>

                <div>
                    <span class="material-symbols-outlined" id="begemKe">favorite </span>

                    <i>1</i>
                </div>

                <div>
                    <span class="material-symbols-outlined" id="yorumKe">sms</span>

                    <i>1</i>
                </div>
            </div>
        </div>

        <h1 class="class-a-h">Haftanın En Beğenilen Dersleri</h1>

    </div>

    <!-- web footer -->
    <div class="footer">
        <span class="copyright">2023<span class="material-symbols-outlined">copyright</span> Copyright </span>
    </div>
    
    <!-- <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js"></script> -->

    <script>
        // addCardBtn.addEventListener("click", () => {
        //     alert("add card")
        // });

        // home menu icone event 
        document.querySelectorAll(".menu-icon").forEach(mi => {
            mi.addEventListener("click", ()=>{
            body.classList.toggle("menu-c");
        });
        });

        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
                document.querySelector(".menu-btn").classList.add("close");
            } else {
                console.log("not");
            }
        });

    </script>


    <!-- <%-include("./forAll/scripts.ejs")%> -->


</body>
</html>