<!DOCTYPE html>
<html lang="en">
    <%-include("./forAll/head.ejs")%>
<body>
    <!-- <video src="" id="img"></video> -->
    <img width="300" height="250" src="" id="img">
    <script src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js"> </script>
    <script src="js/yapay-zeka.js"></script>
</body>
</html>