#body1 {
    user-select: none;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-ballance {
    background-color: white;
    /* margin: 0px auto; */
    width: 500px;
    max-height: 210px;
    padding: 20px;
    border: 1px  solid gray;
    border-radius: 20px;
    border-right:5px solid gray;
    border-bottom:5px solid gray;
    box-shadow: 2px 2px 3px lightgray,
                4px 4px 7px white; 
}

.my-ballance div {
    margin-bottom: 20px;
}

.get-mony {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.get-mony input {
    margin-bottom: 20px;
    width: 90%;
    padding: 3px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    outline: none;
}

.get-mony button {
    /* margin: 0px auto; */
    border: none;
    margin-top: 15px;
    padding: 5px;
    max-width: 300px;
    min-width: 200px;
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {

    #body1 {
        align-items: inherit;
        justify-content: unset;
        padding: 0px;
    }

    .my-ballance {
        width: calc(100% - 0px);
        max-height: 100vh;
        border: none;
        border-radius: 0px;
        box-shadow: unset;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .monny {
        font-size: 25px;
    }
}