.profil-screen {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 99vh;
    user-select: none;
    color: white;
    padding-bottom: 100px;
    /* text-shadow: 1px 1px 3px  #A3E0BC; */
}

.profil-c {
    flex-basis: 100px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.profil-image {
    width: 200px;
    height: 200px;
}

.shopin-btn {
    width: 200px;
    height: 40px;
    margin: 15px 0px;
    background-color: gray;
    border: 0.5px solid white;
    color: white;
    border-radius: 5px;
    font-size: large;
    box-shadow: 3px 3px 8px 0px black inset,
                -3px -3px 8px 0px black inset,
                3px 3px 10px 4px #A3E0BC,
                -3px -3px 10px 4px #4158D0 ;
}

.shopin-btn:hover{
    background-color: lightgray;
}
.shopin-btn:active {
    width: 150px;
    height: 35px;
    box-shadow: 1px 1px 3px 0px lightgray inset,
                -1px -1px 3px 0px lightgray inset,
                1px 1px 4px 4px #A3E0BC,
                -1px -1px 4px 4px #4158D0 ;
}

.about-user {
    padding: 5px;
}

.about-user span {
    font-size: large;
    padding: 0px 10px ;
}

.shares-area {
    width: calc(100% - 10px);
    flex-basis: 50px;
    flex-grow: 4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.tab-row {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 0px) ;
}

.tab-btn {
    padding: 10px;
    width: 25%;
    font-size: 17px;
}

.tabs {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    overflow-x: scroll;
}::-webkit-scrollbar{
    display: none;
}

.tabs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.tab-btn {
    /* border: 2px solid black; */
    box-shadow: -2px -2px 3px black inset;
}



.tab-btn.o {
    border: 2px solid white;
    box-shadow: 4px 4px 6px 4px inset;
}

.tabs  div {
    width: 100%;
    height: 100%;
    display: flex;
}

/* .tabs div:nth-child(2) {
    display: none;
} */

.tabs .tab {
    display: none;
    flex-basis: 300px;
    flex-grow: 1;
}


.tabs .tab.o {
    display: flex;
}

.my-class {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 100px;
}

.my-class-card {
    position: relative;
    max-width: 350px;
    min-width: 150px;
    flex-basis: 300px;
    flex-grow: 1;
    padding: 1px;
    margin: 13px;
}

.my-class-card img {
    height: 100%;
    width: 100%;
}


.bigger {
    display: block;
    position: absolute;
    max-width: 10px;
    max-height: 10px;
    top: 10px;
    right: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.bigger:hover {background-color: rgba(255, 255, 255, 0.542);}

.class-text {
    position: absolute;
    max-height: 20%;
    max-width: calc(100% - 10px);
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.534);
    justify-content: space-around;
    bottom: 0px;
    left: 0px;
}

.about-class {
    position: absolute;
    left: 10px;
    top: 10px;
}

.about-class span {margin: 0px 5px;}

.classCard .card-text {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.532);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.classCard .card-text h1 {
    flex-grow: 1;
}

.classCard .card-text span {
    flex-grow: 2;
}

.aboutCard {
    position: absolute;
    bottom: -20px;
    left: 10px;
    max-height: 10%;
}

.aboutCard span {margin: 0px 5px;}

