.shares {
    position: fixed;
    padding-bottom: 0px;
    height: 100vh;

}

.theArea {
    min-width: 100%;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    font-size: 26px;
    display: none;
    color: chocolate;
}

.theArea img{
    width: 100%;
    height: 60vh;
}   

.theArea h1 {
   font-size: 50px;
   padding: 20px 0px;
   text-transform: uppercase;
}
.theArea span {
    display: block;
    margin: 10px 0px ;
    padding: 10px;
    padding-bottom: 100px;
}

.theArea.o {
    display: block;
}



.profile-in-share {
    background-color: rgba(240, 248, 255, 0.738);
    position: absolute;
    bottom: 90px;
}

.profile-in-share span {
    font-size: 23px;
    padding-left: 0px;
    width: 0px;
}



.pass-btn {
    position: absolute;
    width:  10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    top: 50vh;
    opacity: 0;
    transform: scale(0);
}

#right{
    right: 0px;
}

div:hover .pass-btn{
    opacity: 1;
    transform: scale(1);
}

.pass-btn i {
    color: aliceblue;
    text-shadow: greenyellow 2px 2px 3px,
                   greenyellow 2px -2px 3px;
    font-size: 40px;
}

.pass-btn i:nth-child(1) {
    text-shadow: greenyellow -2px 2px 3px,
                   greenyellow -2px -2px 3px;
}