:root {
  --body-bg : #4158D0;
  --body-gradient : linear-gradient(90deg, #FFCC70 0%, #4158D0 100%);
  --header-bg: #4158D0;
  --header-logo-border: white;
  --menu-closed-color : rgb(254, 254, 165);
  --menu-bg : #4158D0 ;
  --menu-border : #989ADD;
  --pages-border-bottom : black;
  --pages-color : white;
  --pages-shadow : gray;
  --pages-hover-color : #4158D0 ;
  --pages-hover-bg : white ;
  --card-area-gradient: linear-gradient(43deg, #4158D0 0%,#FFCC70 100%);
  --class-area-bg: #47C266;
  --class-area-gradient: linear-gradient(43deg, #4158D0 0%, #A3E0BC 46%, #47C266 60%, #FFCC70 100% );
  --class-card-shadow:lightgray;
  --class-card-hover-shadow: 10px 10px 10px lightgray;
  --class-card-hover-bg: #47C266;
  --class-card-hover-border:white; 

  --button2-bg: #4158D0;
}



/* ye mezın */
*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
/* gelti */

body { 
  background-color: var(--body-bg);
  background-image: var(--body-gradient);
}

body.dark {
  --body-bg : black;
  --body-gradient : linear-gradient(90deg, black 0%, white 100%);
  --header-bg: gray;
  --header-logo-border: white;
  --menu-closed-color : white;
  --menu-bg : gray ;
  --menu-border : lightgray;
  --pages-border-bottom : black;
  --pages-color : white;
  --pages-shadow : gray;
  --pages-hover-color : black ;
  --pages-hover-bg : lightgray ;
  --card-area-gradient: linear-gradient(43deg, white 0%,black 100%);
  --class-area-bg: black;
  --class-area-gradient: linear-gradient(43deg, black 0%, gray 46%, lightgray 60%, white 100% );
  --class-card-shadow:lightgray;
  --class-card-hover-shadow: 10px 10px 10px lightgray;
  --class-card-hover-bg: black;
  --class-card-hover-border:white;

  --button2-bg: gary;
}

.body {
  width: 100%;
  height: 99vh;
  position: relative;
}

/* şexsi */

/*================= header childs =================== */
.header {
    position: fixed;
    width: calc(100% - 0px);
    height: 80px;
    padding: 10px;
    display: flex;
   justify-content: space-between;
   align-content: space-between;
   background-color: var(--header-bg);
   z-index: 10;
}

.header-logo { /* logo*/
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: 3px solid var(--header-logo-border);
}

.header-text {/* header text */
   height: 80px;
   line-height: 80px;
   user-select: none;
}


/*================= menu icon =================== */
.menu-icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    background:none;
    border: none;
}

.menu-icon i {
    font-size: 40px;
    line-height: 80px;
}

/* open menu icon */
.body .menu-opened {
    display: block;
}

.body.menu-c .menu-opened {
    display: none;
}

/* close menu icon */
.body .menu-closed {
    color: var(--menu-closed-color);
    display: none;
}

.body.menu-c .menu-closed {
    display: block;
}

/*================= Menu  =================== */
.menu {
    right: 10px;
    height: 80vh;
    width: 300px;
    position: fixed;
    background: var(--menu-bg);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: nowrap;
    border: 6px solid var(--menu-border);
    border-top: none;
    /* border-bottom: none; */
    top: -650px;
    transition: top 2s;
    z-index: 2;
}

.menu div:nth-child(1) div:nth-child(1){
  display: none;
}

.menu div:nth-child(1) i {
  font-size: 25px ;
  color: white;
}

.body.menu-c .menu {
    top: 100px;
}


/* .decore {
  width: 230px;
  height: 230px;
  background-color: var(--menu-bg);
  border: 4px solid var(--menu-border);
  border-left: none;
  border-top: none;
  position: absolute;
  bottom: -115px;
  left: 40px;
  top: 350px;
  transform: rotate(45deg);
  z-index: -1;
  display: none;
} */

.pages {
    flex-basis: 30px;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 50px ;
}

.pages a {
    text-decoration: none;
    color: var(--pages-color);
    text-align: center;
    font-size: 23px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 17px 0px;
    transition: background .6s;
    border-bottom: 1px solid var(--pages-border-bottom);
    box-shadow: -1px 7px 8px var(--pages-shadow);
}
.pages a:hover {
    border-bottom: 2px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    /* background: var(--pages-hover-bg); */
    color: var(--pages-hover-color) ;
}
.pages a i {font-size: 35px;}

.social {
    flex-basis: 30px;
    flex-grow: .5;
}

/* menu buttons */
.menu-btn {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 30px;
}

/* social */
.social {
    display: flex;
    justify-content: space-around;
}

.social a {
  color: white;
}
 /* ========================= web body =======================*/
.home-image {
    margin-top: 100px;
    width: 100%;
    height: 90vh;
}

/* card */
.card-area {
  background-color: var(--body-bg);
  background-image: var(--card-area-gradient);
  padding: 100px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}


/* ========================= class area =======================*/
/* class area */
.class-area {
  margin: 100px 0px;
  background-color:var(--class-area-bg);
  background-image: var(--class-area-gradient);
  position: relative;
  padding: 10px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class-area h1.class-a-h {
  display: block;
  width: 90%;
  border-bottom: 3px solid black;
  box-shadow: 0px 7px 10px gray;
  padding-bottom: 10px;
  position: absolute;
  /* left: 35%; */
  top: 10px;
  color: black;
}

/* class cards  */

.class-card {
  position: relative;
  /* padding: 10px; */
  max-width: calc(350px - 60px);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--class-card-shadow);
  margin: 30px;
  /* margin-right: 0px; */
  flex-grow: 1;
  flex-basis: 300px;
}

.class-card:hover {
  box-shadow: 10px 10px 10px var(--class-card-hover-shadow);
  background-color: var(--class-card-hover-bg);
  border: 1px solid var(--class-card-hover-border); 
}

.class-card .go-class {position: relative;}

.class-card .go-class img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.class-card .go-class span {
  position: absolute;
  color: lightgray;
  right: 10px;
  top: 10px;
  padding: 3px;
  background: gray;
  border-radius: 5px;
  user-select: none;
} 
.class-card .go-class span:hover {color: white;}
.class-card .go-class span:active {font-size: 25px;}

.class-area .about-class {
  width: 100%;
  position: absolute;
  bottom: 35px;
  top: inherit;
  left: 0px;
}  

.class-card .about-class a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.class-card .about-class span {
  display: block;
  text-align: center;
  color: white;
  background: rgba(220, 220, 220, 0.34);
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.class-card .about-class span:hover{
  background: rgba(220, 220, 220, 0.64);
}

.class-card .class-btns {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 15px;
  color: white;
}

.class-card .class-btns i {font-size: 22px;}
.class-card .class-btns span {font-size: 20px;}

.class-card .class-btns div {
  box-shadow: 0px 2px 2px gray;
  padding: 3px;
  border-radius: 5px;
  user-select: none;
}

/* footer */
.footer {
  padding: 100px;
  background-color: black;
  color: white;
}
.footer span {
  line-height: 12px;
  font-size: 21px;
}
.footer .material-symbols-outlined {
  font-size: 20px;
  line-height: 32px;
}



/* dervada hati */

/* button style 2  */
.button1 {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404C5D 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465B, 
                 5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465B, 
                 5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
  }
  
  .button1:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                      -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .button1:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                       -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  /* card 1 */
  .card {
    width: 300px;
    height: 200px;
    background-color: gray;
    background-image: linear-gradient(43deg, gray 0%, white 70% );
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    display: flex;
    z-index: 1;
    border: 0.5px solid black;
    box-shadow: 20px 20px 25px black;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    justify-content: center;
    max-width: 500px;
  }
  
  .card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }
  
  .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }
  
  .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:before {
    transform: translateX(-100%);
  }
  
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .card:hover:after {
    transform: translateX(100%);
  }
  /* card 2 */
  
  
  
  
  
  

  /* derva hati düzke */
  .girish {
    background: var(--button2-bg);
    color: white;
  }

  .card2child {
    width: 400px;
    height: 300px;
    margin-top: 30px;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
  }

  .card2child .button1 {
    margin: 30px 0px;
    background: var(--button2-bg);
    color: white;
  }



@media only screen and (max-width: 600px) {
  .decore {
    display: none;
  }

  .menu {
    border: none;
    padding: 0px;
    width: 100%;
    height: 100vh;
    right: 0px;
    z-index: 99;
  }

  .body.menu-c .menu {
    top: 0px;
  }

  .menu div:nth-child(1) div:nth-child(1){
    display: inline;
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .header-text {
    font-size: 20px;
  }

  .header-logo{
    width: 60px;
    height: 60px;
  }
}