<div class="container adder screen" title="add-class">

    <div class="col adder-menu close">
        <div class="" id="addClassBtn">
            <i class="fas fa-book"></i>
            <span>ders oluştur</span>
        </div>

        <div class="" id="addCardBtn">
            <i class="fas fa-scroll"></i>
            <span>kart oluştur</span>
        </div>
    </div>

    <div class="class-adder-screen ">
        <label for="file-input" class="file-label">
            <i class="fas fa-image"></i> Resim seç
        </label>
        <input type="file" id="file-input" class="hidden">
        <img src="image/logo.jpg" alt="" id="classImage">
        <input type="text" id="classTitle" placeholder="başlık">
        <input type="text" style="width: 300px;" id="classComm" placeholder="açıklama">
        <textarea name="" id="classText" placeholder="yazı..."></textarea>

        <input id="type" list="shareType" >

        <datalist id="shareType">
            <option value="Ders">
            <option value="Card">
        </datalist>

        <button id="shareed" class="btn share-btn">Yayınla</button>
    </div>

</div>

<!-- all script file -->

<script src="js/firebase-app-scripts/add-class-backend.js"></script>