<%-include("../forAll/head.ejs")%>

<div class="bottom-menu" id="bottomMenu">
    <div title="home"><i class="fas fa-home"></i></div>
    <div title="shares"><i class="fas fa-book-open"></i></i></div>
    <div title="add-class" class="home"><i class="fas fa-plus-circle"></i></div>
    <div title="chate"><i class="fas fa-comments"></i></div>
    <div title="profile" class="a"><i class="fas fa-user"></i></div>
</div>