<div class="chate screen" title="chate"> 
    <div class="message-list">
        <div class="message">
            <img src="/image/logo.jpg" alt="">
            <h1>name 1 </h1>
        </div>

        <div class="message">
            <img src="/image/logo.jpg" alt="">
            <h1>name 2 </h1>
        </div>

        <div class="message">
            <img src="/image/logo.jpg" alt="">
            <h1>name 3 </h1>
        </div>
    </div>   
    
    <div class="message-area">
        <div class="head">
            <i class="fas fa-arrow-left"  id="msgBack"></i>
            <h1>name</h1>
        </div>
        <div class="messages"></div>
        <div class="write-area">
            <input type="text" id="msg">
            <i class="fas fa-paper-plane"></i>
        </div>
    </div>
</div>