<div class="home screen" title="home"> 

    <!-- bildiri --> 
<div class="notif">
    <div class="tkp-notif"><i class="fas fa-users"></i></div>
    <div class="bgn-notif"><i class="fas fa-envelope-open"></i></div>
</div>

    <!-- chirok -->
    <div class="storis">
        <div class="story" id="myStory"> 
            <img src="image/img1.png" alt="">
        </div>

        <div class="followers-stories">
            <div class="story"> 
                <img src="image/img1.png" alt="">
            </div>

            <div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div><div class="story"> 
                <img src="image/img1.png" alt="">
            </div>

        </div>
    </div>

    <!-- ders -->

    <div class="shared-class">
        <div class="user-profile">
            <img src="image/img1.png" alt="" class="share-p">
            <span>Dibistanek</span>
        </div>

        <img src="image/img1.png" alt="" class="class-img">

        <div class="about-people-class">
            <span><i class="far fa-heart"></i> 0 </span>
            <span><i class="fas fa-eye"></i> 0 </span>
            <span><i class="fas fa-comment"></i> 0 </span>
        </div>
    </div>

    <div class="shared-class">
        <div class="user-profile">
            <img src="image/img1.png" alt="" class="share-p">
            <span>Dibistanek</span>
        </div>

        <img src="image/img1.png" alt="" class="class-img">

        <div class="about-people-class">
            <span><i class="far fa-heart"></i> 0 </span>
            <span><i class="fas fa-eye"></i> 0 </span>
            <span><i class="fas fa-comment"></i> 0 </span>
        </div>
    </div>

    <div class="shared-class">
        <div class="user-profile">
            <img src="image/img1.png" alt="" class="share-p">
            <span>Dibistanek</span>
        </div>

        <img src="image/img1.png" alt="" class="class-img">

        <div class="about-people-class">
            <span><i class="far fa-heart"></i> 0 </span>
            <span><i class="fas fa-eye"></i> 0 </span>
            <span><i class="fas fa-comment"></i> 0 </span>
        </div>
    </div>


    <div class="shared-class">
        <div class="user-profile">
            <img src="image/img1.png" alt="" class="share-p">
            <span>Dibistanek</span>
        </div>

        <img src="image/img1.png" alt="" class="class-img">

        <div class="about-people-class">
            <span><i class="far fa-heart"></i> 0 </span>
            <span><i class="fas fa-eye"></i> 0 </span>
            <span><i class="fas fa-comment"></i> 0 </span>
        </div>
    </div>

    <div class="shared-class">
        <div class="user-profile">
            <img src="image/img1.png" alt="" class="share-p">
            <span>Dibistanek</span>
        </div>

        <img src="image/img1.png" alt="" class="class-img">

        <div class="about-people-class">
            <span><i class="far fa-heart"></i> 0 </span>
            <span><i class="fas fa-eye"></i> 0 </span>
            <span><i class="fas fa-comment"></i> 0 </span>
        </div>
    </div>


</div>


<script src="js/home.js"></script>


