<div class="shares screen" title="shares"> 

    <div class="pass-btn">
        <i id="leftClass" class="fas fa-chevron-left"></i>
    </div>

    <div class="pass-btn" id="right">
        <i id="rightClass" class="fas fa-chevron-right"></i>
    </div>

    <div class="user-profile profile-in-share">
        <img src="image/img1.png" id="shareP" class="share-p">
        <span id="UID">Dibistanek</span>
    </div>


    <div class="theArea o">
        <img src="image/logo.jpg" alt="">
        <h1>title 1</h1>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
    </div>

    <!-- <div class="theArea">
        <img src="image/logo.jpg" alt="">
        <h1>title 2</h1>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
    </div>

    <div class="theArea">
        <img src="image/logo.jpg" alt="">
        <h1>title 3</h1>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
        
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi et deleniti provident a ratione dolor vel 
            harum enim possimus quae! Pariatur natus reprehenderit at incidunt numquam aspernatur ut eveniet consequatur.</span>
    </div> -->

   
</div>